<%- include("/root/LocalMountedDisk/Projects/Web/Node.JS/Node/classProject/includes/head.ejs")%>
<title>Orders
    
</title>

<body>

    <%- include('/root/LocalMountedDisk/Projects/Web/Node.JS/Node/classProject/includes/navigator.ejs')%>