<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper green darken-4">
            <a href="#" class="brand-logo center ">Shoppers</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="hide-on-med-and-down container left">
                <li><a href="/">Shop</a></li>
                <li><a href="/admin/add-product">Add Products</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/order">Orders</a></li>
              
            </ul>
        </div>
</div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Shop</a></li>
    <li><a href="/admin/add-product">Add product</a></li>
    <li><a href="/cart">Cart</a></li>
    <li><a href="/order">Orders</a></li>

</ul>